body {
    background:
        linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
        linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
        linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
        linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
        linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
        linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    font-family: arial;
    margin: 0;
}

#container {
    width: 70%;
    height: 500px;
    margin-top: 5%;
    background-color: #2d5faf;
    position: relative;
    padding-top: 20px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
}

.socialmedia {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    overflow: hidden;
    margin-bottom: 5px;
}

.socialmedia > IMG {
    height: 100%;
    width: 100%;
}

#socialmediatag {
    margin-left: 2%;
    position: absolute;
    margin-right: 200px;
    float: left;
    left: 1070px;
    top: 75px;
}

#profilepic {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-color: white;
    position: relative;
    left: 20px;
    top: 10px;
    overflow: hidden;
    border: 1px solid white;
    float: left;

}

#profilepic > IMG {
    height: 100%;
    width: 100%;
}

#name {
    position: relative;
    float: right;
    color: lightgray;
    right: 33%;
    top: 8%;
    text-align: center;

}

#aboutme {
    position: absolute;
    top: 55%;
    right: 16%;
    color: lightgray;
    text-align: left;
    margin-left: 15%;

}

#aboutme > h3 {
    text-decoration: underline;
}
